{% extends "layouts/base.html" %}
{% load humanize %} 

{% block content %}
<div class="container">
    <!-- Nueva imagen con cartel encima -->
    <a href="singles">
        <div class="image-venta mt-4">
            <img src="../static/image/index_img/singles.webp" class="d-block w-100" alt="Singles">
            <div class="image-text">
                <span class="text">SINGLES</span>
            </div>
        </div>
    </a>

    <a href="sellados">
        <div class="image-venta mt-4">
            <img src="../static/image/index_img/sellados.webp" class="d-block w-100" alt="Sellados">
            <div class="image-text">
                <span class="text">PRODUCTOS SELLADOS</span>
            </div>
        </div>
    </a>

    <div class="row g-4">
        {% for producto in productos %}
            {% if producto.stock and producto.single %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <div class="card-body text-center image-container" style="background-color: rgba(145, 145, 145, 0.178); border: solid 0.2px rgba(0, 0, 0, 0.568); font-size: 0.8em;">
                            <h2 class="card-title" style="font-size: 1.8em;">{{ producto.titulo }}</h2>

                            <!-- Imagen con efecto hover -->
                            <img 
                                src="{{ producto.imagen_url }}" 
                                alt="Imagen de {{ producto.titulo }}" 
                                class="product-image"
                                style="margin-top: 1em; max-width: 100%; max-height: 100%; object-fit: contain;"
                                data-bs-toggle="modal" 
                                data-bs-target="#productModal{{ producto.id }}">

                            <!-- Modal -->
                            <div class="modal fade" id="productModal{{ producto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">{{ producto.titulo }}</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center">
                                                <!-- Imagen ajustada en el modal -->
                                                <img 
                                                    src="{{ producto.imagen_url }}" 
                                                    alt="Imagen de {{ producto.titulo }}" 
                                                    class="img-fluid mb-4" 
                                                    style="max-width: 50%; height: auto;">
                                                <p class="fw-bold text-success" style="font-size: 1.5em;">
                                                    <i class="fas fa-tag"></i> <!-- Icono de etiqueta de precio -->
                                                    $ {{ producto.precio|floatformat:0|intcomma }} 
                                                </p>
                                                <p>{{ producto.descripcion }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2">
                                <!-- Precio atractivo con icono y estilo Bootstrap -->
                                <p class="fw-bold text-success" style="font-size: 1.5em;">
                                    <i class="fas fa-tag"></i> <!-- Icono de etiqueta de precio -->
                                    $ {{ producto.precio|floatformat:0|intcomma }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
