body {
  background-color: rgba(255, 255, 255, 0.897);
}

h1 {
  font-family: "Barlow", sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: "Barlow", sans-serif;
}

.carousel-inner {
    transition: transform 2s ease, opacity .2s ease-out}

/* Botón flotante */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d365f1;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}
.whatsapp-float:hover {
  background-color: #1ebe56d5;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.whatsapp-float i {
  font-size: 28px;
}


/* Definir la animación de desplazamiento */
@keyframes marquee {
    0% {
      transform: translateX(100%); /* Comienza a la derecha */
    }
    100% {
      transform: translateX(-100%); /* Termina a la izquierda */
    }
  }
  
/* Estilo para el cartel pasante */
.marquee-container {
  width: 100%; /* Ancho completo */
  overflow: hidden; /* Oculta el contenido que se desborda */
  background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(50deg, rgb(0, 0, 0) 10%, rgb(29, 27, 29) 42%, rgb(0, 0, 0) 81%);
  padding: 5px; /* Espaciado interno */
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  border-top: 0.2em solid rgba(128, 128, 128, 0.473);
  border-bottom: 0.2em solid rgba(128, 128, 128, 0.473);

}
.marquee-text {
  display: inline-block;
  white-space: nowrap; /* Evita que el texto se divida */
  animation: marquee 10s linear infinite; /* Animación */
  font-size: 1.2em;
  color: #ffffff; /* Color del texto */
}

/* Estilo para la imagen con cartel encima */
.image-venta {
  position: relative;
  width: 100%;
  margin-bottom: 0.7em;
  overflow: hidden; /* Asegurar que las chispas no se salgan del contenedor */
}

.image-venta img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Bordes redondeados */
}

.image-venta .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Texto blanco */
  font-size: 3em; /* Tamaño por defecto */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto */
  background-color: rgb(0, 0, 0); /* Fondo negro */
  padding: 10px 20px;
  border-radius: 8px;
}

/* Efecto de múltiples chispas */
.image-venta:hover .spark {
  animation: spark-animation 0.8s linear infinite;
  opacity: 1;
}

/* Chispas */
.spark {
  content: '';
  position: absolute;
  width: 15px;  /* Tamaño por defecto */
  height: 15px; /* Tamaño por defecto */
  background-color: #9400D3; /* Color inicial violeta */
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

/* Animación de las chispas */
@keyframes spark-animation {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    box-shadow: 0 0 10px 6px rgba(148, 0, 211, 0.8);
  }
  50% {
    opacity: 0.7;
    transform: translate(30px, -30px) scale(2);
    box-shadow: 0 0 20px 12px rgba(186, 85, 211, 0.5);
  }
  100% {
    opacity: 0;
    transform: translate(60px, -60px) scale(3);
    box-shadow: 0 0 0 0 rgba(255, 105, 180, 0);
  }
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .spark {
    width: 10px;  /* Reducir el tamaño de las chispas */
    height: 10px; /* Reducir el tamaño de las chispas */
  }

  @keyframes spark-animation {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(0.8); /* Reducir la escala inicial */
      box-shadow: 0 0 8px 4px rgba(148, 0, 211, 0.8);
    }
    50% {
      opacity: 0.7;
      transform: translate(20px, -20px) scale(1.5); /* Reducir la escala intermedia */
      box-shadow: 0 0 15px 8px rgba(186, 85, 211, 0.5);
    }
    100% {
      opacity: 0;
      transform: translate(40px, -40px) scale(2); /* Reducir la escala final */
      box-shadow: 0 0 0 0 rgba(255, 105, 180, 0);
    }
  }
}


/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .image-venta .image-text {
    font-size: 0.72em; /* Reducir el tamaño del texto */
  }
}

.titulo-productos {
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
}

@media (max-width: 768px) {
  .titulo-productos {
      font-size: 1.1em;
      font-weight: bold;

  }
}


/* Estilos generales */
.image-venta img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) { /* Puedes ajustar el tamaño de la pantalla según sea necesario */
  .image-venta img {
      height: 5em; /* Ajusta la altura deseada */
      width: 200%;
  }

  .image-text span {
      font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
  }
}


.navegacion{
  background: rgb(29,3,16);
background: linear-gradient(50deg, rgba(29,3,16,1) 10%, rgba(0,0,0,1) 61%, rgba(255,0,194,1) 100%);
}

.cuadraditos{
  background: rgba(196, 194, 194, 0.623);

}