body {
  background-color: rgba(255, 255, 255, 0.897);
}

h1 {
  font-family: "Barlow", sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: "Barlow", sans-serif;
}

.carousel-inner {
    transition: transform 2s ease, opacity .2s ease-out}

/* Botón flotante */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
}
.whatsapp-float:hover {
  background-color: #1ebe57;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.whatsapp-float i {
  font-size: 28px;
}


/* Definir la animación de desplazamiento */
@keyframes marquee {
    0% {
      transform: translateX(100%); /* Comienza a la derecha */
    }
    100% {
      transform: translateX(-100%); /* Termina a la izquierda */
    }
  }
/* Estilo para el cartel pasante */
.marquee-container {
  width: 100%; /* Ancho completo */
  overflow: hidden; /* Oculta el contenido que se desborda */
  background: rgb(108,16,61);
    background: linear-gradient(50deg, rgba(108,16,61,1) 10%, rgba(186,45,178,1) 42%, rgba(255,0,194,1) 81%);
  padding: 5px; /* Espaciado interno */

}
.marquee-text {
  display: inline-block;
  white-space: nowrap; /* Evita que el texto se divida */
  animation: marquee 10s linear infinite; /* Animación */
  font-size: 1.2em;
  color: #ffffff; /* Color del texto */
}

