header{
    background-color: rgba(38, 51, 54, 0.226);
    max-height: 5em;
}


body { 
    background-color: rgba(131, 15, 177, 0.342);
    
}

/* Titulo responsive de carro de compras tamaño lg y celular */
.card-title {
    font-size: 1.7em;
    font-family: "Barlow", sans-serif;
  }
  
  @media (max-width: 768px) {
    .card-title {
        font-size: 1.34em;
    }
  }
  
/* Establece el z-index para el navbar */
.navbar {
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que ocupe toda la pantalla */
    z-index: 1050; /* Asegura que el navbar quede encima de otros elementos */
}

/* Para asegurar que la versión desplegada del navbar (cuando se hace toggle) esté por encima */
.navbar-collapse {
    z-index: 1060; /* Ajuste para la versión desplegada */
}


/* Funcionalida de google maps para eventos.html *//* Contenedor del mapa */
.map-container {
    position: relative;
    width: 100%; /* Hace que el mapa ocupe el 100% del contenedor */
    padding-bottom: 56.25%; /* Mantiene la relación de aspecto 16:9 (altura relativa al ancho) */
    height: 0; /* Anula la altura del contenedor */
    overflow: hidden;
}

/* Ajusta el iframe para que ocupe el 100% del contenedor */
.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Stock - productos disponibles */
.producto_disponibles {
    margin: 1em 0em 1em 0em ;
    padding: 1em;
    background: rgb(108,16,61);
    background: linear-gradient(50deg, rgba(108,16,61,1) 10%, rgba(186,45,178,1) 42%, rgba(255,0,194,1) 81%);
}


.image-container img {
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el elemento completamente */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold; /* Texto en negrita */
    font-style: italic; /* Texto en cursiva */
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}

/* Establecer un tamaño de fuente más grande para pantallas grandes */
@media (min-width: 1200px) {
    .image-text {
        font-size: 5vw; /* Aumenta el tamaño de fuente en pantallas grandes */
    }
}

/* Para pantallas medianas o pequeñas, puedes reducir el tamaño */
@media (max-width: 767px) {
    .image-text {
        font-size: 2em; /* Ajuste a un tamaño más pequeño para pantallas pequeñas */
    }
}

/* Contenedor para las imágenes */
.image-container {
    overflow: hidden; /* Evitar que la imagen se salga del contenedor */
    position: relative;
}

/* Imagen del producto */
.product-image {
    transition: transform 1s ease, box-shadow 0.3s ease; /* Transición suave */
}

/* Efecto al pasar el cursor (hover) */
.product-image:hover {
    transform: scale(0.9); /* Aumenta el tamaño al 120% */
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.3); /* Agrega sombra para dar profundidad */
}

